{% for item in commandes_grouped %}
<tr>
    <td>{{ item.commande.id }}</td>
    <td>{{ item.commande.client.nom }}</td>
    <td>
        {% for nom_produit, quantite in item.produits_groupes %}
            {{ nom_produit }} (x{{ quantite }})<br/>
        {% endfor %}
    </td>
    <td>{{ item.commande.total }} €</td>
    <td>{{ item.commande.get_statut_display }}</td>
    <td>{{ item.commande.date_commande }}</td>
    <td>
        <a href="{% url 'voir_commande' item.commande.id %}" class="btn btn-info btn-sm">Voir</a>
        ...
    </td>
</tr>
{% endfor %}
